@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.first {
  position: absolute;
  opacity: 1;

  animation-name: myanime1;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes myanime1 {
  0% {
    transform: translate(90px, 0px);
    opacity: 0.7;
  }
  /* 25% {
    transform: translate(100px, 0px);
    opacity: 1;
  } */
  50% {
    transform: translate(120px, 0px);
    opacity: 1;
  }
  65% {
    transform: translate(140px, 0px);
    opacity: 0;
  }
  75% {
    transform: translate(120px, 0px);
    opacity: 0;
  }
  90% {
    transform: translate(120px, 0px);
    opacity: 0.4;
  }
  100% {
    transform: translate(90px, 0px);
    opacity: 0;
  }
}

.second {
  position: absolute;

  opacity: 0;
  animation-name: myanime2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@keyframes myanime2 {
  0% {
    transform: translate(150px, 0px);
    opacity: 0.7;
  }

  25% {
    transform: translate(150px, 0px);
    opacity: 1;
  }
  50% {
    transform: translate(150px, 0px);
    opacity: 1;
  }
  75% {
    transform: translate(-50px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, 0px);
    opacity: 1;
  }
}

/* fade animation */
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoom-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.fade-in-left {
  animation: fade-in-left 1s ease-in-out;
}

.fade-in-right {
  animation: fade-in-right 1s ease-in-out;
}

.zoom-out {
  animation: zoom-out 1s ease-in-out;
}
